.b-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 4px 5px 0px rgba(84, 77, 84, 1);
    position: relative;
}

.b-left {
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
}

.b-left>span:nth-child(1) {
    font-size: 3rem;
    font-weight: normal;
    color: wheat;
}

.b-left>span:nth-child(2) {
    font-size: 3rem;
    font-weight: bold;
    color: wheat;
}

.b-left>span:nth-child(3) {
    text-decoration: underline;
    font-size: 2rem;
    color: wheat;
}

.b-left>span:nth-child(4) {
    font-size: 1.5rem;
    color: wheat;
}

.b-right {
    padding-top: 1rem;
    padding-right: 1rem;
}

.resume {
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 2rem;
    color: wheat;
    font-size: 1.5rem;
    border: 1px solid wheat;
    transition: all 1s;
}

.resume:hover {
    transform: scale(1.1);
    color: black;
    background-color: white;
    box-shadow: 0px 5px 5px 0px rgba(245, 222, 179, 0.5);
}

@media screen and (max-width:825px) {

    .b-container {
        display: flex;
        flex-direction: column;
    }

    .b-right {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:500px) {

    .b-container {
        display: flex;
        flex-direction: column;
    }

    span:nth-child(4) {
        line-height: 1.5rem;
    }
}